*{
    font-family: arial;
    margin: 0;
    padding: 0;

}
body{
    background-image:url("https://img.freepik.com/free-photo/galaxy-wallpaper-warm-colors_23-2151769491.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    text-align: center;
}
.links{
    text-decoration: none;
    margin-top: 25px;
    line-height: 50px;
    color:whitesmoke;
}
h2{
        color:whitesmoke;
}
#navbar{
    display:flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.452);

}
#logo{
    left:40px;
}
#form-container{
    margin-top: 150px;
    color:black;
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    height: 400px;
    width: 900px;
    border-radius: 15px;
    margin-left: 220px;
    box-shadow: 0px 
}
#submit-button{
    background-color: black;
    font-family: sans-serif;
    font-weight: 900;
    width:400px;
        color:whitesmoke;
    
}
.inputs{
    border-radius: 15px;
    margin-top: 10px;
    height: 30px;
    width:300px;
    text-align: center;
}
#footer{
    background-color: rgba(0, 0, 0, 0.65);
    text-align: right;
    height: 100px;
    color:whitesmoke;
}
.links:hover{
    color:orange;
    font-weight: bolder;
}
